.row {
  margin: 0%;
}

.imagenPrincipal {
  width: 100%;
}

.fraseUno {
  font-size: 55px;
  text-align: center;
  background-color: #DDC8C4;
}
.fraseUno p {
  margin-bottom: 0%;
}

.articuloUno {
  display: flex;
  list-style-type: none;
  margin-bottom: 0%;
  padding: 10px;
  background-color: #F8F4E3;
}

.parrafoArticuloUno {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.articuloDos {
  display: flex;
  list-style-type: none;
  padding: 10px;
}

.parrafoArticuloDos {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.imagenConsul {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .fraseUno {
    font-size: 40px;
  }
  .fraseUno p {
    padding: 7px;
  }
  .posicionImagen {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .imagenArtUno {
    width: 500px;
    height: 300px;
  }
  .parrafoArticuloUno {
    font-size: 25px;
    padding: 20px;
    text-align: center;
  }
  .articuloDos {
    display: flex;
    flex-direction: column-reverse;
  }
  .parrafoArticuloDos {
    font-size: 25px;
    padding: 20px;
    text-align: center;
  }
  .imagenConsul {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .imagenCompu {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .fraseUno {
    font-size: 32px;
  }
}
.containerContacto {
  text-align: center;
  font-size: x-large;
  background-color: #DDC8C4;
  color: #49181B;
}
.containerContacto p {
  margin: 0%;
}

.colorFormulario {
  background-color: #F0EFEB;
}

.containerFormulario {
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
}
.containerFormulario div {
  text-align: center;
  padding: 20px;
}
.containerFormulario div input {
  padding: 0px 20px;
  margin: 10px;
  background-color: #F0EFEB;
}

.containerInfo {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #DDC8C4;
}
.containerInfo p {
  font-size: 20px;
}

.row {
  margin: 0%;
}

.containerMapa {
  align-items: center;
  padding: 10px;
}

.mapa {
  width: 450px;
  height: 300px;
}

.tituloQuienesSomos {
  text-align: center;
  background-color: #DDC8C4;
  font-size: 60px;
}
.tituloQuienesSomos h1 {
  margin-bottom: 0%;
}

.parrafoQuienesUno {
  font-size: 30px;
  padding: 50px;
  text-align: center;
}

.imgQuienes {
  width: 100%;
  height: 1000px;
}

.containerParrafoManu {
  text-align: center;
  font-size: 25px;
  padding: 10px;
}
.containerParrafoManu p {
  margin: 0%;
}

.tituloFundadora {
  text-align: center;
  background-color: #DDC8C4;
  font-size: 60px;
}
.tituloFundadora p {
  margin-bottom: 0%;
}

.containerImgFunda {
  text-align: center;
  padding: 30px;
}

.imgFundadora {
  width: 350px;
  height: 425px;
  border-radius: 60%;
  margin: 0%;
}

.tituloTratamientosCorporales {
  text-align: center;
  background-color: #DDC8C4;
  font-size: 60px;
}
.tituloTratamientosCorporales h1 {
  margin-bottom: 0%;
}

.containerMasajesAbdomen {
  display: flex;
  background-color: #F8F4E3;
}

.imgMasajesAbdominales {
  width: 400px;
  height: 500px;
}

.parrafoMasajesUno {
  font-size: 30px;
  padding: 20px;
}

.containerMasajesEspalda {
  display: flex;
  flex-direction: row-reverse;
}

.parrafoMasajesDos {
  font-size: 30px;
  padding: 5px 10px 0px 10px;
}

.imgMasajesEspalda {
  width: 400px;
  height: 500px;
}

.containerMasajesGluteos {
  display: flex;
  background-color: #F8F4E3;
}

.parrafoMasajesGluteos {
  font-size: 30px;
  padding: 130px 20px 130px 20px;
}

.imgMasajesGluteos {
  width: 400px;
  height: 500px;
}

.containerMasajesDescontracturantes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.parrafoMasajesDescontracturantes {
  font-size: 30px;
  padding: 20px;
}

.imgMasajesDescon {
  width: 500px;
  height: 850px;
}

.containerMasajesCelulitis {
  display: flex;
  background-color: #F8F4E3;
  justify-content: space-between;
}

.imgMasajesCelulitis {
  width: 400px;
  height: 500px;
}

.parrafoMasajesCelulitis {
  font-size: 30px;
  padding: 35px;
}

.tituloTratamientosFaciales {
  text-align: center;
  background-color: #DDC8C4;
  font-size: 60px;
}
.tituloTratamientosFaciales h1 {
  margin-bottom: 0%;
}

.containerLimpiezaFacial {
  display: flex;
  background-color: #F8F4E3;
}

.imgLimpiezaFacial {
  width: 400px;
  height: 500px;
}

.parrafoLimpiezaUno {
  font-size: 30px;
  padding: 150px;
}

.containerMasajesFaciales {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.imgMasajesFaciales {
  width: 400px;
  height: 500px;
}

.parrafoMasajesFaciales {
  font-size: 30px;
  padding: 150px;
}

.containerDermaplaning {
  display: flex;
  background-color: #F8F4E3;
  justify-content: space-between;
}

.imgDermaplaning {
  width: 400px;
  height: 500px;
}

.parrafoDermaplaning {
  font-size: 30px;
  padding: 150px;
}

.containerDermapen {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.imgDermapen {
  width: 1100px;
  height: 500px;
}

.parrafoDermapen {
  font-size: 30px;
  padding: 70px;
}

.navbar {
  padding: 0%;
}

.container-fluid {
  background-color: #F6EBE7;
}

.listaIndex {
  background-color: #F6EBE7;
  width: 100%;
  font-size: 23px;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin-bottom: 0%;
}
.listaIndex li a {
  text-decoration: none;
  color: #49181B;
}

@media screen and (max-width: 600px) {
  .imagenLogo {
    width: 200px;
    height: 60px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  margin: 5px 10px;
}
.footer ul {
  padding: 0%;
  margin: 0%;
}

.containerFooterUno {
  display: flex;
  list-style-type: none;
}
.containerFooterUno li {
  padding: 20px;
}

.logoInsta {
  width: 75px;
  height: 75px;
}

.logoWpp {
  width: 75px;
  height: 75px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Instrument Serif", serif;
}

/*# sourceMappingURL=estilos.css.map */
