.tituloQuienesSomos{
    text-align: center;
    background-color: #DDC8C4;
    font-size: 60px;
    h1{
        margin-bottom: 0%;
    }
    animation: focus-in-contract-bck 1.5s ease-in-out both;
}

.containerParrafoQuienesUno{
    ul{
        list-style-type: none;
        margin: 0%;
    }
}

.parrafoQuienesUno{
    font-size: 30px;
    padding: 50px;
    text-align: center;
    animation: text-focus-in 1.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.containerConsultorio{
    font-size: 40px;
    text-align: center;
    background-color: #F8F4E3;
    padding: 10px;
}

.divCarrusel{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #F8F4E3;
}

.carousel{
    width: 1200px;
    height: 650px;
}

.tamanoImgConsul{
    width: 1200px;
    height: 650px;
}

.containerParrafoManu{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    p{
        margin: 0%;
    }
}

.tituloFundadora{
    text-align: center;
    background-color: #DDC8C4;
    font-size: 60px;
    p{
        margin-bottom: 0%;
    }
    animation: tracking-in-contract-bck-bottom 2s ease-in both;
}

.containerImgFunda{
    text-align: center;
    padding: 30px;
}

.imgFundadora{
    width: 350px;
    height: 425px;
    border-radius: 60%;
    margin: 0%;
    animation: puff-in-hor 3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        transform: translateZ(300px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        transform: translateZ(12px);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes tracking-in-contract-bck-bottom {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px) translateY(300px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes puff-in-hor {
    0% {
        transform: scaleX(2);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        filter: blur(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .parrafoQuienesUno{
        font-size: 25px;
        padding: 30px;
    }
    .containerConsultorio{
        font-size: 30px;
        color: #49181B;
    }
    .carousel{
        width: 600px;
        height: 450px;
        padding: 5px;
    }
    .tamanoImgConsul{
        width: 600px;
        height: 450px;
    }
    .tituloFundadora{
        font-size: 35px;
    }
    .imgFundadora{
        width: 300px;
        height: 350px;
    }
    .containerParrafoManu{
        font-size: 23px;
    }
}

@media screen and (max-width: 600px){
    .parrafoQuienesUno{
        font-size: 20px;
        padding: 25px;
    }
    .containerConsultorio{
        font-size: 25px;
    }
    .carousel{
        width: 400px;
        height: 300px;
        padding: 5px;
    }
    .tamanoImgConsul{
        width: 400px;
        height: 300px;
    }
    .tituloFundadora{
        font-size: 30px;
    }
    .imgFundadora{
        width: 250px;
        height: 300px;
    }
    .containerParrafoManu{
        font-size: 19px;
    }
}