@use 'index';
@use 'contactos';
@use 'quienesSomos';
@use 'tratamientosCorporales';
@use 'tratamientosFaciales';
@use 'assets/navbar';
@use 'assets/footer';

*{
    margin: 0;
    padding: 0;
    font-family: 'Instrument Serif', serif;
}