.navbar{
    padding: 0%;
}

.container-fluid{
    background-color: #F6EBE7;
}

.listaIndex{
    background-color: #F6EBE7;
    width: 100%;
    font-size: 23px; 
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-bottom: 0%;
    li{
        a{
            text-decoration: none;
            color: #49181B;
        }
    }
}

@media screen and (max-width: 600px){
    .imagenLogo{
        width: 200px;
        height: 60px;
    }
    .navbar-nav{
        font-size: 18px;
    }
}